img{
  width:20%;
  float: left;
  margin: 6.66%;
  max-height: 30%;
  max-width: 30%;
  padding-bottom: 20px;
  vertical-align: top;
}

p{
  font-family: Contrail One;
  margin: 1.66%;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #f1f1f1;
  width: 90%;
  padding-bottom: 20px;
}
